<!DOCTYPE html>
<html>
<head>
	<title>Clicker</title>
	
	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	
	<!-- Bootstrap -->
    <link href='@routes.Assets.at("bootstrap/css/bootstrap.css")' rel="stylesheet" media="screen">
    <script src='@routes.Assets.at("bootstrap/js/bootstrap.min.js")'></script>
	
	<!-- Responsive Design -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='@routes.Assets.at("bootstrap/css/bootstrap-responsive.css")' rel="stylesheet">
	
	<!-- SlideShow-->
	<script src='@routes.Assets.at("iosslider/_src/jquery.iosslider.js")'></script>
	<script src='@routes.Assets.at("javascripts/slider.js")'></script>
	
	<!--CSS-->
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/index.css")'>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/slider.css")'>
</head>
<body>
	<div class="container content">
		<div class="row menu">
			<div class="span8 slider">
				<div class="logo">
					<a href="./index.html"><img src='@routes.Assets.at("images/logo.png")' /></a>
				</div>
				<div>
					<ul class="nav nav-pills navi">
						<li class="active"><a href="/index">Home</a></li>
						<li><a href="/question">Question</a></li>
						<li><a href="/admin">Admin</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="row hidden-phone" >
			<div class="span8 iosSlider slider">
				<div id="slider">
					<div class="item" id="item1"><img src='@routes.Assets.at("images/bild1.jpg")' /></div>
					<div class="item" id="item2"><img src='@routes.Assets.at("images/bild2.jpg")' /></div>
					<div class="item" id="item3"><img src='@routes.Assets.at("images/bild3.jpg")'/></div>
					<div class="item" id="item4"><img src='@routes.Assets.at("images/bild4.jpg")' /></div>
				</div>
				
				<div class = 'iosSliderButtons'>
					<div class = 'button'></div>
					<div class = 'button'></div>
					<div class = 'button'></div>
					<div class = 'button'></div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="span6 box">
				<h3>What is the "Clicker"?</h3>
				<hr class="hrbox" >
				<ul class="index_content">
					<li>A tool to make your own votings</li>
					<li>You can vote with a normal computer or with a smartphone</li>
					<li>It is also possible to use your tablet</li>					
				</ul>
			</div>
			
			<div class="span6 box boxright">
				<h3>Easy to use</h3>
				<hr class="hrbox">
				<ul class="index_content">
					<li>Questions are organized in groups so you have a very good overview</li>
					<li>Edit existing questions with just one click</li>
					<li>Generate a QR-Code for every question which links directly to it</li>					
				</ul>
			</div>
		</div>
		
		<div class="row">
			<div class="span6 box">
				<h3>lorem ipsum</h3>
				<hr class="hrbox">
				<ul class="index_content">
					<li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</li>
					<li>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</li>
					<li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</li>					
				</ul>
			</div>
			
			<div class="span6 box boxright">
				<h3>Social Media</h3>
				<hr class="hrbox">
				<ul class="index_content">
					<li>Follow us on Facebook, Google+, Twitter and Pinterest:</li>
					<img id='social_media' src='@routes.Assets.at("images/socialmedia_big.png")' class="socialmedia" />
				</ul>
			</div>
		</div>
		
		<div class="footer hidden-phone">
			<span class="copyright">&copy;HTWG Konstanz Marcel Erath &amp; Daniel Stoo&szlig</span>
			<img src='@routes.Assets.at("images/socialmedia.png")' class="socialmedia" />
			<span class="impressum"><a href="">Impressum</a></span>
		</div>
	</div>
</body>
</html>