<!DOCTYPE html>
<html>
<body>
	<!-- special includes are in the body because of the point, that there could be functions with the same name -->
	<!-- JQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	
	<!--CSS-->
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/index.css")'>

	<!-- JS -->
	<script type="text/javascript" src='@routes.Assets.at("javascripts/storage.js")'></script>
 	<script type="text/javascript" src='@routes.Assets.at("javascripts/index.js")'></script>

	<div class="container content">
		<div class="row menu">
			<div class="span4 offset4">
				<ul class="nav nav-pills navi">
					<li><a href="/index">Home</a></li>
					<li class="active"><a href="/question">Question</a></li>
					<li><a href="/admin">Admin</a></li>
				</ul>
			</div>
		</div>
	
		<div class="row">
			<div class="span4 offset4" id="question">
				<div class="span4 headline">
					<h3>Question</h3>
				</div>
				<div class="span4 box menubox">
					<form name="question_form" action="" onsubmit="get_Question(); return false;" class="menuform">
						<p>
							<label for="q_id">Question ID</label>
							<input type="text" name="q_id" id="q_id"/>
						</p>
						<p>
							<label for="q_pw">Password</label>
							<input type="text" name="q_pw" id="q_pw"/>
						</p>
						<p><input class="btn" type="submit" value="Get Question"/></p>
					</form>
				</div>
			</div>
		</div>
		<!-- the last closing div is in the main-view -->
</body>
</html>