@(id: Int)(pw: String)
<!DOCTYPE html>
<html>

<head>
	<title>Question</title>
	
	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<!-- includes -->
	<link rel="shortcut icon" href="../img/favicon.ico" >
	<script>
		var q_id = @id;
		var q_pw = '@pw';
	</script>
	<script type="text/javascript" src='@routes.Assets.at("javascripts/storage.js")'></script>
 	<script type="text/javascript" src='@routes.Assets.at("javascripts/question.js")'></script>
</head>

<body>
	<!-- here the question will be shown -->
	<div id="question_and_Answers"></div>
</body>
</html>